[Desktop Entry]
Name=Lume
Comment=Minimalist brightness control utility
Exec=lume
Icon=lume
Terminal=false
Type=Application
Categories=Utility;Settings;HardwareSettings;
StartupNotify=true
